<%= item.text_field :continent_flown_to, :label => false, :placeholder => "Contenent Flown_To", :class => "form-control fc2"  %>
<%= item.text_field :city_destinations, :label => false, :placeholder => "City Destinations", :class => "form-control fc2"  %>
<div class="x">
<span><%= item.link_to_remove "x" %></span>
</div>







