<form class='peachPaymentsForm' action='<%=  @capture_result.redirect_url %>' method='post' style='display:none'>
<% @capture_result.redirect_parameters.each do |parameters| %>	
	<input type="text" name="<%= parameters['name']  %>" value="<%= parameters['value'] %>">
<% end %>
<input type="submit">
</form>

<script type="text/javascript">
	$(function() {
	   $('.peachPaymentsForm').submit();
	})
</script>
