<div class="modal fade" id="password_change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <% @customer_password = current_customer  %>
      <%= simple_form_for @customer_password, url: refinery.customers_customers_path, remote: true do |f| -%>
          <div class="modal-body">
            <ul class="password_errors">
            </ul>
            <div class="form-group">
              <label class="password">Current Password</label>
              <input type="password" name="old_password" %>
            </div>
            <%= f.input :password, :label => 'New Password' %>
            <%= f.input :password_confirmation, :label => 'Confirm Password' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-window btn-green" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Change my password", :class => 'btn btn-custom' %>
          </div>
      <% end %>
    </div>
  </div>
</div>




