<div class="modal fade" id="password_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Password Recovery Form</h4>
      </div>
      <div class="content-place">

        <!--<form accept-charset="UTF-8" action="/customers/password" data-remote="true" class="simple_form form-horizontal admin" id="new_customer" method="post">-->
        <%= render '/shared/pass_form' %>
        <!--</form>-->

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="password_success_error_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Password Recovery</h4>
      </div>
      <div class="content-place">

        <div class="modal-body">
          <div class="message">
            Success, a email will be send with more instructions.
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-green" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>












