<div class="modal fade" id="thank_you" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Verify your account</h4>
      </div>
      <div class="content-place">
        <%# resource ||= Refinery::Customers::Customer.new %>
        <%#= form_for(resource, :as => :customer, :url => registration_path(:customer), :html => {:id => "sign_up_customer"}, :format => :json, :remote => true ) do |f| %>
          <div class="modal-body text-center verify">
            <img src="/assets/logo-color.png" class="center-block">
            <h2>Thank you for registering at Squawk Aviation</h2>
            <h4>Please verify your account by following the link sent to your email address</h4>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>















