@import 'application';
@import 'dashboard';


.airlines_like_wiz{overflow-y: scroll;height: 300px;}

.feed {
	.completion.wizard-completion {
		.name-placeholder {background-color: $blue; height: 20px; margin: 70px auto 10px; max-width: 180px; border-radius: 3px;}
		.job-placeholder {background-color: #ccc; height: 14px; margin: 10px auto 10px; max-width: 180px; border-radius: 3px;}
		.completion-placeholder {background-color: #ccc; height: 10px; margin: 30px auto 10px; max-width: 140px; border-radius: 3px;}
		.btn-placeholder {background: $green; max-width: 100px; margin: 10px auto; border-radius: 3px; height: 30px;}
		.profile-pic {background: #ccc;
			.empty-profile {height: 110px; width: 110px; border-radius: 100%; background-color: #c4d9e2; border-radius: 50%; border: 2px solid #f0f0f0; display: block; margin: 0 auto; position: relative; bottom: -55px;}
		}
	}
	.logo-placeholder {background: #ccc; border-radius: 100%; border: 2px solid #f0f0f0; height: 40px; width: 40px;}
	.placeholder-airline-name {height: 18px; width: 80px; background-color: $jetblue; opacity: 0.2; border-radius: 3px;}
	.placeholder-airline-location {height: 12px; width: 80px; background-color: $body; opacity: 0.2; margin-top: 3px; border-radius: 3px;}
	.image-placeholder {height: 350px; background-color: #c4d9e2;}
	.text-placeholder {height: 16px; background-color: $body; opacity: 0.2; margin-bottom: 10px; border-radius: 3px;}
	.pod-placeholder-title {background-color: $blue; height: 20px; border-radius: 3px; max-width: 140px;}
}

#wizard-modal {
	.record {font-size: 14px; margin-top: 10px; font-weight: 700;
		span {color: $blue}
	}
	.modal-content {border-radius: 0;}
	.pilot-form {display: none;}
	#step1 {
		.modal-footer {display: none;}
	}
	.career {
		ul {list-style: none; padding: 0; @include clearfix(); margin-bottom: 50px;
			li {width: 25%; float: left; text-align: center; border: 1px solid #f0f0f0;height: 175px;line-height: 1;
				a {color: $jetblue; padding: 20px 0; display: block;}
			}
			li:nth-child(2){border-left: none; border-right: none;}
		}
	}
	h2 {margin: 30px 0 10px;}
	h4 {font-weight: 300; margin-bottom: 30px; padding-top: 30px; border-top: 1px solid #f0f0f0;}
	.body-text {padding-bottom: 30px;}
	.btn-start {color: #fff; background-color: $blue; max-width: 200px; display: block; margin: 30px auto 0; padding: 10px; border-radius: 3px;}
	.wizard-form {
		label {text-align: left; font-size: 0.875em; color: $jetblue;}
		select {background: #fff url(../assets/downarrow.jpg) no-repeat 95% 50%;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
		}
		select::-ms-expand {
		    display: none;
		}		
	}
	.picture-container {text-align: center; margin-bottom: 20px;
		img {border: 1px solid #dadada; border-radius: 4px;}
	}
	.airline-listings {@include clearfix();
		ul {
			li {width: 25%; float: left; padding-bottom: 5px; padding-top: 5px; border: 1px solid #eee; height: 150px;}
		}
	}
}

.stepper {position: relative; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; list-style: none; padding: 0;
	li {-webkit-transition: .5s; transition: .5s; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
		a {padding: 24px; font-size: 14px; text-align: center;
			.circle {display: inline-block; color: #fff; border-radius: 50%; background: rgba(0,0,0,.38); background-color: rgba(0, 0, 0, 0.38); width: 24px; height: 24px; line-height: 24px; margin-right: 8px; text-align: center;}
			.label {margin-top: 10px; display: inline-block; color: rgba(0,0,0,.38); }
		}
		&:not(:first-child)::before, &:not(:last-child)::after {content: ''; position: relative; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin: 8px 0 0; height: 1px; background-color: rgba(0,0,0,.1);}
	}
	li.active, li.completed {
		a {
			.circle {background-color: $blue !important;}
			.label {font-weight: 600; color: rgba(0,0,0,.87);}
		}
	}
}

.card-wizard-header {padding: 10px 30px; text-align: right;
	img {width: 200px;  float: left;}
	.cancel {color: $blue; font-size: 24px; font-weight: 700; display: block; padding: 15px 0;}
}
.card-wizard {padding-top: 50px;
	.wizard-container {padding-top: 50px; padding-bottom: 100px; 
		h1 {font-size: 28px;}
		.choose {text-align: center;
		}
		.btn {margin-top: 30px; min-width: 300px; padding: 20px;}
		.plans {
			h1 {margin-bottom: 0;}
			p {margin-bottom: 50px;}
			.next {margin-top: 30px;}
		}
		.plan-container {display: inline-block;}
		.plan-container:last-child {
			.plan-option {
				label {background: $jetblue url(../assets/20off.png) no-repeat top right;}
			}
		}
		.plan-option {border: 2px solid transparent; padding: 8px; display: inline-block;
			label {display: block; width: 300px; background-color: $blue; text-align: center; padding: 50px 20px; cursor: pointer; margin-bottom: 0;
				h1, h3, h4 {color: #fff; margin: 0;}
				h1 {font-size: 48px;}
				h3 {font-size: 24px;}
				h4 {font-size: 16px; font-weight: 300; margin-bottom: 20px;}
				p {color: #fff; margin-bottom: 0;}
			}
		}
		input:checked + .plan-option {border: 2px solid $blue;}
		table {width: 100%; margin-top: 50px;
			tr:first-child {
				td {padding-top: 0; padding-bottom: 0;}
			}
			td {padding: 10px; text-align: center; position: relative; width: 300px;}
			td:first-child {text-align: left; width: auto;};
			h1 {font-size: 32px;}
			h3 {font-size: 13px; font-weight: 300; color: $body; margin: 0;}
			h4 {margin-top: 10px; color: $body;}
			.popular {background: $green; color: $bodydark; padding: 5px; border-top-left-radius: 3px; border-top-right-radius: 3px; width: 100%; top: -40px; left: 0;}
		}
		.checked-first {
			tr {
				td:nth-child(2) {filter: none;}
				td:nth-child(3) {filter: grayscale(100%);}
			}
		}
		.checked-second {
			tr {
				td:nth-child(3) {filter: none;}
				td:nth-child(2) {filter: grayscale(100%);}
			}
		}
		.close {float: none; text-align: center; opacity: 0.2!important}
		.step {display: none;}
		.step.active {display: block;}
		// .btn-green {display: none;}
		.card-details {padding: 0 20px; margin-top: 50px;
			input {margin-bottom: 0; height: 50px;}
			label {line-height: 50px; margin-bottom: 0;}
			.card-wrapper{ margin-bottom: 30px;}
		}
		.credit-table {padding: 20px; border: 1px solid #ccc; border-radius: 3px;  margin-bottom: 10px; background: #fff;
			table {margin-top: 0;
				tr {
					td {padding: 0; font-size: 14px; text-align: left;}
					td:first-child {font-weight: 700; color: $bodydark;}
				}
			}
		}
		.btn-green {min-width: auto; margin-top: 0; padding: 6px 12px;}
		.payment-table {padding: 20px; border: 1px solid #ccc; border-radius: 3px;  margin-bottom: 30px; background: #fff; margin-top: 50px;
			table {margin-top: 0;
				tr:first-child {
					td {font-size: 18px; font-weight: 700; padding-bottom: 20px; 
						span {font-weight: 300; color: $blue; font-size: 14px;}
					}
				}
				tr:nth-child(2) {
					td {padding-top: 20px; border-top: #dadada 1px solid;}
				}
				tr {
					td {padding: 0; font-size: 14px; text-align: right;}
					td:first-child {text-align: left;}
				}
				tr:last-child {
					td {font-size: 18px; font-weight: 700;}
				}
			}
		}
		.secure-payment {display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
			display: -ms-flexbox;  /* TWEENER - IE 10 */
			display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
			display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
			margin-top: 30px;
			p {font-size: 12px; line-height: 1; margin: 0 10px;}
			.peachpayments {float: left; width: 80px; flex: 1 0 auto; -webkit-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; height: 100%;}
			.visa-mastercard {float: right; width: 80px; flex: 1 0 auto; -webkit-box-flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; height: 100%;}
		}
		.start-membership {margin-top: 30px;}
		.btn-blue:hover {background: $blue!important; border-color: $blue!important;}
		#tab5 {
			h3 {color: $body; font-weight: 300;}
		}
	}
}
.creditcard, #footnotes_debug {display: none;}

.slim {background-image: url(../assets/upload-arrow.png); background-position: center 20%; background-repeat: no-repeat;}

//Tiny
@media (max-width:576px) {
 
}

//Extra Small
@media (max-width: 767px) {

}

//Small
@media (max-width: 991px) {
}

//Medium
@media (max-width:1199px) {
	
}
//Large
@media (min-width: 1200px) { 

}