<table height="100%" width="100%" border="0" cellspacing="0" cellpadding="30" style="background-color:#f0f0f0;">
  <tr>
    <td>

      <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#ffffff">
        <tr>
          <td>
            <a href="#"><img src="https://www.squawkaviation.com/header.jpg" width="640" height="120" border="0"></a>
          </td>
        </tr>
        <tr>
          <td style="padding: 60px 30px; font-size: 16px; color: #6b7c93; font-family: arial, sans-serif;">
            Welcome <%= @resource.name %> thank you for joining our flock !<br><br>
            Feel like we squawking you?<br><br>
            Don’t worry we would just like you to click on the button below to confirm your email address and set you on your flight path to Aviation’s fastest growing recruiter connector community.<br><br>
            <table align="center">
              <tr>
                <td style="background-color: #cddc39; padding: 10px 15px"><a href="<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>" target="_blank" style="color: #474857; text-decoration: none">Confirm</a></td>
              </tr>
            </table>
            <br><br>
            Good Luck & Don’t forget to Squawk us if there’s anything we can assist and improve on!<br><br>
            Regards,<br>
            Team Squawk.
          </td>
        </tr>
        <tr>
          <td>
            <img src="https://www.squawkaviation.com/footer.jpg" width="640" height="60" border="0">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
